<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom search</title>
</head>
<body>

<h1>Google custom search</h1>
<p>A Search ID is generated when creating a new search engine <a href="https://cse.google.com/cse/all">here</a>.<br>
To create an API key, follow the "Get started" for Custom Search JSON API after creating a search engine.</p>

<form method="POST">
  <table>
    <tr>
			<td><label for="ApiKey">API key</label></td>
			<td><input type="text" name="ApiKey" value="{{.ApiKey}}" required></td>
		</tr>
    <tr>
			<td><label for="SearchId">Search ID</label></td>
			<td><input type="text" name="SearchId" value="{{.SearchId}}" required></td>
		</tr>
    <tr>
			<td><label for="Query">Query</label></td>
			<td><input type="text" name="Query" value="{{.Query}}" required></td>
		</tr>
    <tr>
			<td><label for="Days">Number of Days back</label></td>
			<td><input type="Days" name="Days" value="{{.Days}}" required></td>
		</tr>
  </table>
  <br>
	<input type="submit" value="Search">
</form>
<br>
{{if eq .SearchInformation.TotalResults "0"}}
  <p>No results</p>
{{end}}

{{if .Items}}
<p><b>Total Results: {{.SearchInformation.TotalResults}}</b></p>
  <a href="/export"><input type="submit" value="Export"/></a>
<p><table border="1px solid black" CELLPADDING=3>
<tr><td><b>Title</b></td><td><b>Site</b></td><td><b>Snippet</b></td></tr></b>
  {{range .Items}}
    <tr><td>{{.Title}}</td><td><a href="{{.Link}}">{{.Link}}</a></td><td>{{.Snippet}}</td></tr>
  {{end}}
</table></p>
{{end}}

</body>
</html>